/* html{
    padding: 0px;
} */

body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    padding-left: ;
}


nav{
    display: flex;
    justify-content: left;
    background-color: #BDD0F5;
    padding: 3px;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 10vh;
    min-height: 20px;
}

#logocnt{
    display: flex;
    flex-direction: row;
    margin:8px 0px 8px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#logo{
    height: 80px;
    width: 200px;
    margin:8px 0px 8px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contents{
    display: flex;
    flex-direction: row;
    list-style: none;

}
#contents li{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px 10px 0px 10px;
    
}


#contents li a{
    text-decoration: none;
    margin: 0xp 10px 0px 10px;
    color:white;
    font-family: ebrima;
    font-weight: bold;
    font-size: 140%;
    color: black;
}


#container{
    border: solid aqua;
    border-radius: 20px;
    /* margin: 50px; */
    justify-items: center;
    height: 70vh;
}
#text{
    text-align: center;
}
#subcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50vh;
    padding: 20px;
    overflow: scroll;

    
}
#images{
    object-fit: cover;
    height: 200px;
    width: 250px;
    min-height: min-content;
    padding: 5px;
    border-radius: 8px;
}