body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}


nav{
    display: flex;
    justify-content: left;
    background-color: #BDD0F5;
    padding: 3px;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 10vh;
    min-height: 20px;
}

#logocnt{
    display: flex;
    flex-direction: row;
    margin:8px 0px 8px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#logo{
    height: 80px;
    width: 200px;
    margin:8px 0px 8px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contents{
    display: flex;
    flex-direction: row;
    list-style: none;

}
#contents li{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px 10px 0px 10px;
    
}


#contents li a{
    text-decoration: none;
    margin: 0xp 10px 0px 10px;
    color:white;
    font-family: ebrima;
    font-weight: bold;
    font-size: 140%;
    color: black;
}

#content2 {
    display: flex;
    flex-direction:row;
    margin: 0px;
    padding: 0px;
    justify-content:space-between;
    height: 100vh;
    background-color: rgba(112, 174, 229, 0.13) ;
    op
}


#subcontent{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: normal;
    justify-content: center;
    margin: 3px;
    padding: 5px;
}

#subcontent h1 {
    color: #A8502F;
    font-size: 500%;
    font-family: Arial Rounded MT;
    font-weight: bold;
    margin: 3px;
    padding: 5px;
    margin-left: 20px;
    line-height: 90px;
}

#subcontent h1 span{
    color: #263B8F;
    font-size: 150%;
    margin: 3px;
    text-transform: uppercase;
}

#subcontent p{
    max-width: 60%;
    font-size: 150%;
    font-family: Ebrima;
    font-weight: bold;
    margin: 3px;
    padding: 5px;
    margin-left: 20px;
}

#subcontent p span{
    font-size: 300%;
}

#scro{
    height: 70px;
    width: 70px;
    display: flex;
    align-self: center;
    margin-top: 5%;
    margin-left: 15px;
}

#subcntimg{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}

#starter{
    align-self: flex-end;
    width: 90%;
    margin-bottom: 1px;
    
}

/* img{
    margin-top: 20px;
    width: 400px;
    align-items: center;
} */

#ser{
    /* border: solid aquamarine; */
    margin: 0px;
    padding: 0px;
    width: 100%;


}
#services{
    display: flex;
    flex-direction: row;
    overflow:wrap;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: center;
}
.items{
    display: flex;
    flex-direction: column;
    overflow:hidden;
    padding: 30px;
    border: solid aqua;
    align-content: space-around;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    max-width: 15%;

}

.img1{
    border-radius: 100%;
    width:300px;
    
}

#about{
    background-color: rgba(112, 174, 229, 0.4);
    justify-content: center;
    height: 30vh;
    padding: 30px;
}
    
#abtcon{
    width: 60%;
    font-size: 150%;
    font-family: Montserrat;
    font-weight: SemiBold;
    text-transform: capitalize;
    /* color: #263B8F; */
}

#button1{
    border: 2px solid #386EBE;
    border-radius: 10px;
    width: 10%;
}